<div class="modal" tabindex="-1" role="dialog" ng-controller="ParkingDetailsCtrl">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn btn-info btn-xs pull-right" ng-click="refreshParking()" style="padding: 1px 6px;">Refresh</button>
                <!--<button type="button" class="close" aria-hidden="true" ng-click="$hide()">&times;</button>-->
                <h4 class="modal-title">{{parking.name}}</h4>
            </div>
            <div class="modal-body" style="padding:0px">
                <table class="table table-hover table-stripped" style="margin-bottom: 0px">
                    <tbody>
                        <tr ng-repeat="place in parking.parkingPlaces">
                            <td style="width:100px" class="text-center">
                                <span ng-if="place.status == 0" class="label label-default">Unknown</span>
                                <span ng-if="place.status == 1" class="label label-success">Free</span>
                                <span ng-if="place.status == 2" class="label label-info">Occupied</span>
                                <span ng-if="place.status == 3" class="label label-danger">Blocked</span>
                                <span ng-if="place.status == 4" class="label label-warning">Expired</span>
                            </td>
                            <td>
                                {{place.code}}
                                <small ng-if="place.status == 4">expired at {{place.expiresAt|date:"dd.MM.yyyy. HH:mm:ss"}}</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
